<div class="container-fluid " style="background-color: white;">
  <h2>List Of Tourists</h2>
    <table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">
        <ng-container matColumnDef="tid">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.tid}} </td>
          </ng-container>
          <ng-container matColumnDef="firstname">
            <th mat-header-cell  mat-sort-header *matHeaderCellDef  sortActionDescription="sort by firstname"> FirstName </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> LastName</th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
          </ng-container>

          <ng-container matColumnDef="fplace">
            <th mat-header-cell *matHeaderCellDef> fplace </th>
            <td mat-cell *matCellDef="let element"> {{element.fplace}} </td>
          </ng-container>

         <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender</th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="nodv">
            <th mat-header-cell *matHeaderCellDef> No of places Visited</th>
            <td mat-cell *matCellDef="let element"> {{element.nodv}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

         




    </table>
  </div>